<div class="main-page-header col-lg-12 col-md-12 col-sm-12">
  <h1>Weather Checker</h1>
</div>

 <div class="col-md-6 col-lg-6 col-sm-12 current-weather-box">
    <div id="search-results">
      <h1>City: {{ cityName }} </h1>
      <h2>Conditions: {{ currentWeatherDescription }} <img src='{{icon}}'></img></h2>
      <h3>Current Temperature: {{ currentTemperature }}&deg;  </h3>
      <h3>Today's High: {{todayHigh}}&deg; </h3>
      <h3>Today's Low: {{todayLow}}&deg; </h3>
        <div ng-show="!infoHidden">
          <h3>Windspeed: {{windspeed}} mph</h3>
          <h3>Humidity: {{humidity}} </h3>
          <h3>Pressure: {{pressure}} </h3>
          <h3>Sunrise: {{sunrise}} </h3>
          <h3>Sunset: {{sunset}} </h3>
        </div>
      <button id="more-info" ng-click="showInfo()">{{buttonText}}</button>
    </div>
    <div class="citySearch">
      <h2>Search Another City (by 5 digit zipcode):</h2>
      <form ng-submit="searchWeather()">
        <input type="text" ng-model='searchTerm' pattern=".{5,5}"required></input>
        <input type="submit" value="Submit">
      </form>
      <p class="error-text"> {{ errorText }} </p>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 col-sm-12 forecast-box">
    <!-- <div id="weatherChart"></div> -->
    <chart></chart>
  </div>
